# SPDX-FileCopyrightText: The openTCS Authors
# SPDX-License-Identifier: CC0-1.0

/.idea/*
!/.idea/codeStyles
!/.idea/runConfigurations
/.nb-gradle/
/build/
.gradle/
/nbproject/private/
# Ignore approval test result files.
**/.approval_tests_temp/


# 忽略 IDE 生成的编译输出目录
bin/
out/

# 系统文件
.DS_Store
Thumbs.db

